text {
  font-family: "PTsans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.Layer_52_copy {
  background-image: url("Layer 52 copy.png");
  position: absolute;
  left: 564px;
  top: 2678px;
  width: 46px;
  height: 48px;
  z-index: 39;
}
color {
  color: rgba (225, 225, 225, 0.8)
}
.Настоящий_городок__—_№1_—__Седона_—_не_аттракци {
  font-size: 21px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 27.624px;
  top: 848.662px;
  width: 198px;
  height: 164px;
  z-index: 62;
}
